@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    position: relative;
    top: 100px;
    height: 70%;
    overflow-y: scroll;

}

.main-container {
    transform: translateY(90%);
}

.main-container:hover {
    transform: translateY(0%);

}

.title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: clamp(.5rem, 4vw, 1.5rem);
    font-weight: 400;
    color: white;
}

.bot-text-container {
    animation: fadeIn 1.2s ease-in-out;
    max-width: 220px;
    width: 100%;
    background-color: #89CFF0;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;

   
}



.bot-text {
    color: white;
}

.person-text-container {
    max-width: 220px;
    width: 100%;
    background-color: #0985bf;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
   
}
.person-text{
    color: white;

}





.text-chat-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(193, 190, 190, 0.19);
    background-color: white;

    
}



.input-label {
    width: 70%;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    border: 1px solid rgb(180, 176, 176);
    border-radius: 10px;

}

.send-btn {
    border: none;
    background-color: #89CFF0;
    border-radius: 20px;
    width: 50px;
    height: 40px;
    transition: ease-in-out 0.5s;
    
}

.send-btn:hover {
    transform: scale(1.1);
}